.card {
	height: fit-content;
	overflow: hidden;
}

.card_content {
	position: relative;
	text-align: center;

	border: solid 2px black;
	border-radius: 0.5em;

	padding: 8em 12em;
	transition: all 0.35s ease-in-out;
	transform-style: preserve-3d;
}

.card.multiple .card_content {
	padding: 15em 12em;
}

.card:hover .card_content {
	transform: rotateY(0.5turn);
}

.card_front,
.card_back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backface-visibility: hidden;
	transform-style: preserve-3d;

	background-image: url(../assets/images/istqb.png);
	background-size: 15%;
	background-repeat: no-repeat;
	background-position: bottom left;

	display: flex;
	justify-content: center;
	align-items: center;
}
.card_front {
	padding: 0 2em;
}

.card_id {
	position: absolute;
	top: 5%;
	left: 5%;

	font-size: 1.25rem;
	font-weight: bold;
}

.card_back {
	transform: rotateY(0.5turn);
	padding: 0 2em;
}

.card.multiple .card_back{
	flex-direction: column;
	gap: 1em;
}

.card_question {
	font-size: 1.5rem;
	text-align: center;
}

.card_answer {
	font-size: 1rem;
	text-align: justify;
	line-height: 1.5;
}

.mutliple_container {
	height: fit-content;
}

.mutliple_answer {
	list-style-type: square;
	text-align: left;
}

.mutliple_answer {
	margin-top: 0.25em;
}
